<div class="container mt-4">
  <h2>Lazy Loading 🥱</h2>

  <div class="my-4">
    <button (click)="showLink()" class="btn btn-primary">
      Show menu 🍔
    </button>
  </div>

  <div *ngIf='show' class="mb-4" style='background: #efefef; padding: 10px; border-radius: 4px;'>
    <a routerLink='users' class="btn btn-outline-secondary mr-1">Users</a>
    <a routerLink='posts' class="btn btn-outline-secondary mr-1">Posts</a>
    <a routerLink='comments' class="btn btn-outline-secondary">Comments</a>
  </div>

  <router-outlet></router-outlet>
</div>